.admin-list
  %header
    %h1 Manage Badges
    = render partial: 'search', locals: { badges: @badges }
    = link_to 'Check votations', admin_votations_path, class: 'orange'
    = link_to 'Create a Badge', badges_engine.new_badge_path

  %table.table
    %tbody
      %tr
        %th Badge    
        %th Description
        %th Award
        %th Value
        %th Actions
      = render partial: 'badge', collection: @badges
