-# This section does not have functionality... but the styles
-# is already defined. When you have the functionality, please
-# uncomments these html
-#.earned-social-media
  Share
  %span.earned-social-media-twitter
  %span.earned-social-media-facebook
  %span.earned-social-media-google
  %span.earned-social-media-linkedin
