%h1.welcome
  Welcome to
  .welcome-image
.google-sign-in
  .google-sign-in-image
  %p.google-sign-in-info
    = link_to redirect_url do
      Sign in with your
      %strong crowdint account
  .google-sign-in-decorator
= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
