.admin-list
  %header
    .col-md-4
      %h1.show-dont-tell Manage Show don't tell presentations
    .col-md-8
      = render partial: 'search', locals: { presentations: @presentations }
      = render partial: 'filter', locals: { presentations: @presentations }
      = link_to 'Create Presentation', presentations_engine.new_presentation_path, class: 'a-presentations'

  %table.table
    %tbody
      %tr
        %th Date
        %th Title
        %th Facilitator
        %th Actions

      = render partial: 'presentation', collection: @presentations
