.admin-list
  %header
    %h1 Manage Workshops
    = link_to 'Create a Workshop', workshops_engine.new_workshop_path, class: 'workshop'

  %table.table
    %tbody
      %tr
        %th Title    
        %th Facilitator
        %th Date
        %th Actions
        %th

      = render partial: 'workshop', collection: @workshops
