.admin-list
  %header
    %h1 Manage Users
    = render partial: 'actions', locals: {users: @users }

  %table.table
    %tbody
      %tr
        %th Name   
        %th Role
        %th Manage Module
      = render partial: 'shared/user', collection: @users
