!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title A new workshop was published!
  %body
    %p
      = @workshop.title
      workshop is now available.
    %p
      You can check more information
      = link_to 'here!', root_url
