%title Kardex Crowdint
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= tag :link, href: image_path('favicon.ico'), rel: 'shortcut icon', type: 'image/png', id: 'favicon'
= csrf_meta_tags
