!!!
%html
  %head
    = render 'layouts/head'
  %body
    #wrapper
      .header-dashboards
        .header-vertical-line
        =link_to '', user_path(current_user), class: 'circle'
        .welcome-image
      = render 'shared/flash_message'
      #content
        .container
          = yield
      .push
    %footer#footer
      .container
        %ul
          %li= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
          %li.culture-logo
