!!!
%html
  %head
    = render 'layouts/head'
  %body
    #wrapper
      %header.header.header-home
        .header-right
        .header-left
        .circle
      = render 'shared/flash_message'
      #content
        .container
          = yield
      .push
    %footer#footer
      .container
        %ul
          %li= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
          %li.culture-logo
